<div class='col-xs-12 photo-col1'>
  <div>
    <p>Photos for <%= current_user.email %></p>
    <%= link_to "Add a new photo", new_user_photo_path(current_user) %>
  </div>
  <div>
    <% @photos.each do |photo| %>
      <div data-toggle='modal' data-target="#photo-<%= photo.id %>" class="photo-list">
        <%= image_tag(photo.image.url(:thumb), :class=> "clickMe img-thumbnail") %>
      </div>
      <%= render 'layouts/photo_modal', :nacho =>photo %>
    <% end %>
  </div>
</div>

